.keyboard {
	margin: 2rem 1rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.row {
	width: 100%;
	display: flex;
	justify-content: center;
}

.letter {
	width: 8vw;
	height: 50px;
	border: 1px solid black;
	position: relative;
}

.letter span:first-child {
	position: absolute;
	font-weight: 700;
	top: .5rem;
	left: 1rem;
}

.letter span:last-child {
	position: absolute;
	bottom: .5rem;
	right: 1rem;
}

.bottom-text {
	text-align: center;
	margin: 3.5rem;
	font-size: 2rem;
}

.bottom-text span {
	margin-right: 0.2rem;
}

.active-letter {
	border: 2px solid red;
}

.disable {
	color: lightgrey;
}

.current {
	color: saddlebrown;
	animation: tuCurrent 1s forwards;
}

.enabled {
	color: black;
}


.correct-letter {
	border: 2px solid green;
}


@keyframes tuCurrent {
	from {
		color: lightgrey;
	}
	to {
		color: saddlebrown;
	}
}